@font-face {
  font-family: "iconfont"; /* Project id 3464257 */
  src: url('iconfont.woff2?t=1655445604874') format('woff2'),
       url('iconfont.woff?t=1655445604874') format('woff'),
       url('iconfont.ttf?t=1655445604874') format('truetype'),
       url('iconfont.svg?t=1655445604874#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin1:before {
  content: "\e6c8";
}

.icon-aixin:before {
  content: "\e640";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-pinglun:before {
  content: "\e6f0";
}

.icon-dianzan1:before {
  content: "\ec7f";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-renyuanxinxi:before {
  content: "\e6d1";
}

.icon-xiangguanfangrenyuan:before {
  content: "\e6d3";
}

.icon-a-20-huiyiqiandao:before {
  content: "\e6e5";
}

.icon-a-18-wodeziliao:before {
  content: "\e6e7";
}

.icon-a-17-zaixianxuexi:before {
  content: "\e6e8";
}

.icon-a-16-zaixiankaoshi:before {
  content: "\e6e9";
}

.icon-a-11-jiancharenwu:before {
  content: "\e6ee";
}

.icon-a-35-wodericheng:before {
  content: "\e6fa";
}

.icon-a-33-gerenzhongxin:before {
  content: "\e6fc";
}

.icon-a-28-yinhuanzhenggaitixing:before {
  content: "\e701";
}

.icon-a-21-tongzhigonggao:before {
  content: "\e708";
}

.icon-a-43-shishijiankong:before {
  content: "\e712";
}

.icon-a-44-jinricaidan:before {
  content: "\e714";
}

.icon-a-49-yifarenwu:before {
  content: "\e71d";
}

.icon-a-50-yibanrenwu:before {
  content: "\e71e";
}

.icon-chuangjianteshuzuoye:before {
  content: "\e6cb";
}

.icon-renyuanguanli:before {
  content: "\e6d0";
}

